.login{
	background: rgba(0,0,29,0.7);
	border-radius: 20px;

	padding: 0 50px;

	color: rgba(255,255,255,1);
	text-shadow: 2px 2px #333;
}

.login header{
	margin: 40px 0 0 0;
}

.login header h1{
	font-family: 'Stitch';
	font-size: 50px;
}

.login section{
	margin: 20px 0 40px 0;
}

.login .button{
	margin: 40px 0 0 0;
}

.login .button button{
	width: 50%;
}

@media (min-width: 992px) {
	.container{
		margin-top: 50px;
	}
}